# Mode initial : User EXEC
# Passage en mode Privileged EXEC via enable (droit de lecture)
# Passage en mode Global COnfiguration via conf t (droit de modifier)

en
conf t
interface GigabitEthernet0/0/0.30
    encapsulation dot1Q 30
    ip address 192.168.30.3 255.255.255.0
    standby 30 ip 192.168.30.1
    standby 30 priority 100
    standby 30 preempt
    no shutdown
    end
write memory
