# Mode initial : User EXEC
# Passage en mode Privileged EXEC via enable (droit de lecture)
# Passage en mode Global COnfiguration via conf t (droit de modifier)

en
conf t
interface GigabitEthernet0/0/0.20
    encapsulation dot1Q 20
    ip address 192.168.20.3 255.255.255.0
    ip helper-address 192.168.30.10
    standby 20 ip 192.168.20.1
    standby 20 priority 100
    standby 20 preempt
    no shutdown
    end
write memory
