# Mode initial : User EXEC
# Passage en mode Privileged EXEC via enable (droit de lecture)
# Passage en mode Global COnfiguration via conf t (droit de modifier)

en
conf t
hostname SW-IT

interface fastEthernet 0/1
    switchport mode access
    switchport access vlan 21
    no shutdown
exit
end
write memory
sh int
