# Mode initial : User EXEC
# Passage en mode Privileged EXEC via enable (droit de lecture)
# Passage en mode Global COnfiguration via conf t (droit de modifier)

en
conf t

interface GigabitEthernet0/1
    switchport mode trunk
    switchport trunk allow vlan 20,21,22,30
    no shutdown
exit
end
write memory
sh int
