
en
conf t

ip access-list extended BLOCK_HTTP_IT_SERVER
    deny tcp 192.168.21.0 0.0.0.255 192.168.30.0 0.0.0.255 eq 80
    deny tcp 192.168.30.0 0.0.0.255 192.168.21.0 0.0.0.255 eq 80
    permit ip any any
exit


ip access-list extended ALLOW_TELNET_ROUTERS
    permit tcp any host 192.168.0.1 eq 23
    permit tcp any host 192.168.0.2 eq 23
    permit ip any any
exit


ip access-list extended BLOCK_TELNET_MARKETING
    deny tcp 192.168.20.0 0.0.0.255 host 192.168.0.1 eq 23
    deny tcp 192.168.20.0 0.0.0.255 host 192.168.0.2 eq 23
    permit ip any any
exit


interface GigabitEthernet0/0/0.21
    ip access-group BLOCK_HTTP_IT_SERVER in
exit

interface GigabitEthernet0/0/0.20
    ip access-group BLOCK_TELNET_MARKETING in
exit

interface GigabitEthernet0/0/0.30
    ip access-group BLOCK_HTTP_IT_SERVER in
exit

line vty 0 4
    password cisco
    login
    transport input telnet
    access-class ALLOW_TELNET_ROUTERS in
exit

end
write memory


