
en
conf t

ip access-list extended IT_SSH_ONLY
 permit tcp 192.168.21.0 0.0.0.255 192.168.30.0 0.0.0.255 eq 22
 deny   ip any 192.168.30.0 0.0.0.255
 permit ip any any

interface GigabitEthernet0/0.30
 ip access-group IT_SSH_ONLY in

 ip access-list extended POLICY_INTERNET
 permit ip 192.168.22.0 0.0.0.255 any
 permit tcp 192.168.20.0 0.0.0.255 any eq 80
 permit tcp 192.168.20.0 0.0.0.255 any eq 443
 deny   ip 192.168.20.0 0.0.0.255 any
 permit ip any any

 ip access-list extended NO_PING
 permit icmp 192.168.21.0 0.0.0.255 any
 deny   icmp any any
 permit ip any any

 ip access-list standard VTY_ACCESS
 permit 192.168.21.0 0.0.0.255
 deny   any

line vty 0 4
 access-class VTY_ACCESS in
 
end
write memory


