# ACL 3 - Direction (VLAN 22) : acces total / Marketing (VLAN 20) : HTTP+HTTPS only
# Equipement : Routeur (inter-VLAN routing)

en
conf t

ip access-list extended POLICY_INTERNET
 permit ip 192.168.22.0 0.0.0.255 any
 permit tcp 192.168.20.0 0.0.0.255 any eq 80
 permit tcp 192.168.20.0 0.0.0.255 any eq 443
 deny   ip 192.168.20.0 0.0.0.255 any
 permit ip any any

interface GigabitEthernet0/0.20
 ip access-group POLICY_INTERNET in

end
write memory
show ip access-lists POLICY_INTERNET
