# ACL 4 - Bloquer ICMP entre VLANs (sauf IT VLAN 21)
# Equipement : Routeur (inter-VLAN routing)

en
conf t

ip access-list extended NO_PING
 permit icmp 192.168.21.0 0.0.0.255 any
 deny   icmp any any
 permit ip any any

interface GigabitEthernet0/0.20
 ip access-group NO_PING in

interface GigabitEthernet0/0.22
 ip access-group NO_PING in

interface GigabitEthernet0/0.30
 ip access-group NO_PING in

end
write memory
show ip access-lists NO_PING
