! ACL 5 - Restreindre SSH/Telnet au seul VLAN IT (VLAN 21)
! Equipement : Routeur (inter-VLAN routing)

en
conf t

ip access-list standard VTY_ACCESS
 permit 192.168.21.0 0.0.0.255
 deny   any

line vty 0 4
 access-class VTY_ACCESS in
 login local
 transport input ssh telnet

end
write memory
show ip access-lists VTY_ACCESS
show line vty 0 4
