
en
conf t

interface GigabitEthernet0/0/0.21
    no ip access-group BLOCK_HTTP_IT_SERVER in
exit

interface GigabitEthernet0/0/0.30
    no ip access-group BLOCK_HTTP_IT_SERVER in
exit

interface GigabitEthernet0/0/0.20
    no ip access-group BLOCK_TELNET_MARKETING in
exit

interface GigabitEthernet0/0/0.22
    no ip access-group BLOCK_TELNET_MARKETING in
exit

line vty 0 4
    no access-class ALLOW_TELNET_ROUTERS in
exit

no ip access-list extended BLOCK_HTTP_IT_SERVER
no ip access-list extended ALLOW_TELNET_ROUTERS
no ip access-list extended BLOCK_TELNET_MARKETING

end
write memory